{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MovieDB - </title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/blog-home.css' %}" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">MovieDB</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Movies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="news">News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="actors">Actors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="directors">Directors</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <!-- Blog Entries Column -->
            <div class="col-md-8">
                <h1 class="my-4">Movies
                    <!--TODO category selected-->
                    <small></small>
                </h1>

                {% for key, value in movies.items %}
                    <div class="d-flex flex-row" style="min-width: 0; word-wrap: break-word; background-color: #fff; background-clip: border-box; border: 1px solid rgba(0, 0, 0, 0.125); border-radius: 0.25rem; border-bottom-right-radius: 0.25rem; border-bottom-left-radius: 0.25rem; margin-bottom: 1.5rem !important;">
                        <div class="p-2">
                            <img alt="Card-image-cap" class="card-img-top" src={{ value.poster.0 }}/>
                        </div>
                        <div class="p-2">
                            <h2><a href="movie/{{value.name.0 }}">{{ value.name.0 }}</a></h2>({{ value.year.0 }})

                            <p>{% for g in value.genre %}[{{ g }}]{% endfor %}</p>
                            <p><strong><i>Director:</i></strong>
                                <a href= "director/{{ value.director }}">
                                    {{ value.director }}
                                </a>
                            </p>
                            <p><strong><i>Cast: </i></strong><br/>
                                {% for a in value.actor %} - <a href="actor/{{a}}">
                                    {{ a }}
                                    </a><br/>
                                {% endfor %}
                            </p>
                            <p><strong>{{ value.score.0 }}</strong>/10</p>
                        </div>
                    </div>
                {% endfor %}

                <!-- Pagination -->
            </div>

            <!-- Sidebar Widgets Column -->
            <div class="col-md-4">
                <!-- Search Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Search</h5>
                    <div class="card-body">
                        <div class="input-group">
                            <form action="apply_search" method="post">
                                {% csrf_token %}
                                <input type="text" name="search" class="form-control" placeholder="Search for...">
                                <br/>
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-secondary" type="button">Search</button>
                                </span>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Categories Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Filters</h5>
                     <form action="apply_filters" method="post">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <p><b>Genres:</b></p>
                                        {% csrf_token %}
                                        {% for g in genres %}
                                            <input id={{ g }} type="checkbox" name={{ g }}> {{ g }}<br>
                                        {% endfor %}
                                </div>
                                <div class="col-lg-6">
                                    <ul class="list-unstyled mb-0">
                                        <p><b>Ratings:</b></p>
                                            {% csrf_token %}
                                            {% for r in ratings %}
                                                <input type="radio" name="ratings" value={{ r }}> {{ r }}<br>
                                            {% endfor %}
                                        <br/>
                                        <br/>
                                        <b>Years:</b>
                                        <p>
                                            <select name="years">
                                                <option value=""></option>
                                                {% for y in years %}
                                                    <option value={{ y }}>{{ y }}</option>
                                                {% endfor %}
                                            </select>
                                        </p>
                                        <br/>
                                        <b>Order by:</b>
                                        <p>
                                            <select name="orderby">
                                                <option value=""></option>
                                                <option value="score">Score</option>
                                                <option value="title">Title</option>
                                                <option value="year">Year</option>
                                            </select>
                                        </p>
                                    </ul>
                                </div>
                            </div>
                            <br/>
                            <p align="right"><input type="submit" value="Filter"/></p>
                        </div>
                    </form>
                </div>

                <!-- Side Widget -->
                <div class="card my-4">
                    <div class="card-body">
                        <strong>Do you know a movie we don't? Please help us improve our database.</strong>
                        <br/>
                        <br/>
                        <a href="newMovies" class="btn btn-primary">New movie</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">EDC - Trabalho Prático 1 - Grupo 3</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
