{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MovieDB - </title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/blog-home.css' %}" rel="stylesheet">

</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">MovieDB</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Movies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../../news">News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../../actors">Actors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../../directors">Directors</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <!-- Blog Entries Column -->
            <div vocab="http://schema.org/" typeof="Movie" class="col-md-12 align-items-center">
                <div class="d-flex flex-row" style="min-width: 0;
                                                word-wrap: break-word;
                                                background-color: #fff;
                                                background-clip: border-box;
                                                border: 1px solid rgba(0, 0, 0, 0.125);
                                                border-radius: 0.25rem;
                                                border-bottom-right-radius: 0.25rem;
                                                border-bottom-left-radius: 0.25rem;
                                                margin-bottom: 1.5rem !important;">
                <div class="p-2">
                    <img style="width:350px;padding-top: 12px" src="{{movie_img}}" alt="Card image cap" class="card-img"/>
                </div>
                <div class="p-2">
                    <h1 property="name"><!--class="card-title"-->{{ movie_name }}</h1>
                  <p style="padding-left: 15px"><b><i>Year: </i></b><time property="datePublished">{{ movie_year }}</time></p>
                  <p style="padding-left: 15px"><b><i>Rating: </i></b><span property="contentRating">{{ movie_rating }}</span></p>
                  <p style="padding-left: 15px"><b><i>Language: </i></b><span property="inLanguage">{{ movie_language }}</span></p>
                  <p style="padding-left: 15px"><b><i>Country: </i></b><span property="countryOfOrigin">{{ movie_country }}</span></p>
                  <p style="padding-left: 15px"><b><i>Duration: </i></b><span property="duration">{{ movie_duration }}</span> min</p>
                  <p typeof="MonetaryAmount" style="padding-left: 15px"><b><i>Budget: </i></b><span property="amount">{{ movie_budget }}</span></p>
                    <p style="padding-left: 15px"><strong><i>Genres: </i></strong>
                        {% for genre in movie_genres %}
                      [<span property="genre">{{ genre }}</span>]
                        {% endfor %}
                    </p>
                    <p style="padding-left: 15px"><strong><i>Director: </i></strong>
                        {% if "_" not in movie_director %}
                      <a property="director" typeof="Person" href="../../director/{{movie_director}}"><span property="name">{{movie_director}}</span></a>
                        {% else %}
                      <a property="director" typeof="Person"><span property="name">{{ movie_director }}</span></a>
                        {% endif %}
                    </p>

                    <p style="padding-left: 15px">
                        <strong><i>Cast: </i></strong>
                            <br/>
                        <strong style="padding-left: 20px"><i>Main actors: </i></strong>
                                {% for actor_name in movie_main_actors %}
                                    {% if "_" not in actor_name %}
                      [<a property="actor" typeof="Person" href="../../actor/{{actor_name}}"><span property="name">{{actor_name}}</span></a>]
                                    {% else %}
                      [<a property="actor" typeof="Person"><span property="name">{{ actor_name }}</span></a>]
                                    {% endif %}
                                {% endfor %}
                        <br/>
                        <strong style="padding-left: 20px"><i>Secondary actors: </i></strong>
                                {% if movie_secondary_actors|length == 0 %}
                                    None
                                {% else %}
                                    {% for actor_name in movie_secondary_actors %}
                      [<a property="actor" typeof="Person" href="../../actor/{{actor_name}}"><span property="name">{{actor_name}}</span></a>]
                                    {% endfor %}
                                {% endif %}
                            <br/>
                        </p>
                    <p>

                    </p>
                    <p style="padding-left: 15px"><strong><i>Plot keywords: </i></strong>
                        {% for key in movie_plot_keywords %}
                      		[<span property="keywords">{{ key }}</span>]
                        {% endfor %}
                    </p>
                  <p property="aggregateRating" typeof="AggregateRating" style="padding-left: 15px"><b><i>Score: </i></b><strong><span property="ratingValue">{{ movie_score }}</span></strong>/<span property="ratingCount">10</span></p>

                    <p align="right"> <button type="submit" class="btn btn-secondary" type="button" onclick="deleteAlert('{{ movie_name }}')">Delete</button></p>
                    <script>function deleteAlert(movie) {
                        if (confirm("Are you sure you want to delete the movie \"" + movie + "\" from the database?")) window.location.replace("http://127.0.0.1:8000/delete_movie/"+movie);
                    }</script>
                    <!--</div>-->
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">EDC - Trabalho Prático 2 - Grupo 3</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
